absl-py==0.10.0
aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
ale-py==0.7.3
alembic==1.8.0
altair==4.2.0
anyio==3.4.0
appdirs==1.4.3
appnope==0.1.3
argon2-cffi==20.1.0
arrow==1.2.1
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.1
asynctest==0.13.0
atari-py==0.2.9
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
base58==2.1.0
beautifulsoup4==4.11.1
bitarray==1.2.2
bleach==5.0.0
blinker==1.4
blis==0.7.8
Boruta==0.3
Box2D==2.3.10
cachetools==4.1.1
catalogue==1.0.0
ccxt==1.64.31
certifi==2022.6.15
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
chess==1.7.0
click==8.0.0
cloudpickle==2.1.0
colorama==0.4.4
colorlover==0.3.0
commonmark==0.9.1
configparser==5.0.2
contrib==0.3.0
crayons==0.4.0
cryptography==36.0.1
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
cytoolz==0.11.0
databricks-cli==0.17.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
docker==5.0.3
empyrical==0.5.5
entrypoints==0.4
et-xmlfile==1.0.1
eth-abi==2.1.1
eth-account==0.5.5
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
fastapi==0.78.0
fastjsonschema==2.15.3
filelock==3.4.0
Flask==2.1.0
flatbuffers==2.0
fonttools==4.33.3
frozenlist==1.2.0
funcy==1.17
future==0.18.2
fxcmpy==1.2.5
gast==0.2.2
gensim==3.8.3
get==2019.4.13
gitdb==4.0.9
GitPython==3.1.27
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.32.0
gunicorn==20.1.0
gym==0.19.0
gym-anytrading @ https://github.com/AminHP/gym-anytrading/archive/master.zip
h11==0.13.0
h5py==2.10.0
hexbytes==0.2.2
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
IMAPClient==2.1.0
imbalanced-learn==0.7.0
importlib-metadata==4.12.0
importlib-resources==5.8.0
iniconfig==1.1.1
int-date==0.1.8
ipfshttpclient==0.8.0a2
ipykernel==5.3.4
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.6
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.2.0
jupyter-core==4.10.0
jupyter-server==1.12.1
jupyterlab==3.2.4
jupyterlab-pygments==0.2.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.1.1
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.3
kmodes==0.12.1
lazy-object-proxy==1.4.3
libclang==12.0.0
lightgbm==3.3.2
llvmlite==0.37.0
lru-dict==1.1.7
lxml==4.7.1
Mako==1.2.0
Markdown==3.3
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
missingno==0.5.1
mistune==0.8.4
mlflow==1.26.1
mlxtend==0.19.0
mock==4.0.3
MouseInfo==0.1.2
mpl-finance @ https://github.com/matplotlib/mpl_finance/archive/master.zip
mplfinance==0.11.1a1
multiaddr==0.0.9
multidict==5.1.0
multimethod==1.8
multitasking==0.0.10
murmurhash==1.0.7
nb2xls==0.1.6
nbclassic==0.3.4
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.5.5
netaddr==0.8.0
networkx==2.6.3
nltk==3.7
notebook==6.1.4
numba==0.54.1
numexpr==2.8.3
numpy==1.19.5
oauthlib==3.2.0
opencv-python==4.5.4.60
openpyxl==3.0.0
opt-einsum==3.3.0
orjson==3.7.6
packaging==21.3
pandas==1.3.5
pandas-datareader==0.10.0
pandas-profiling==3.2.0
pandas-ta==0.3.14b0
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.1.1
plac==1.1.3
platformdirs==2.4.0
plotly==5.9.0
pluggy==1.0.0
post==2019.4.13
preshed==3.0.6
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
public==2019.4.13
py==1.11.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycares==4.1.2
pycaret==2.3.10
pycparser==2.21
pycryptodome==3.10.1
pydantic==1.9.1
pydeck==0.7.1
pyfolio==0.9.2
PyGetWindow==0.0.7
pyglet==1.5.21
Pygments==2.12.0
PyJWT==2.4.0
pyLDAvis==3.2.2
pylint==2.6.0
Pympler==1.0.1
PyMsgBox==1.0.7
pynndescent==0.5.7
pyobjc==6.0.1
pyobjc-core==6.0.1
pyobjc-framework-Accounts==6.0.1
pyobjc-framework-AddressBook==6.0.1
pyobjc-framework-AdSupport==6.0.1
pyobjc-framework-AppleScriptKit==6.0.1
pyobjc-framework-AppleScriptObjC==6.0.1
pyobjc-framework-ApplicationServices==6.0.1
pyobjc-framework-AuthenticationServices==6.0.1
pyobjc-framework-Automator==6.0.1
pyobjc-framework-AVFoundation==6.0.1
pyobjc-framework-AVKit==6.0.1
pyobjc-framework-BusinessChat==6.0.1
pyobjc-framework-CalendarStore==6.0.1
pyobjc-framework-CFNetwork==6.0.1
pyobjc-framework-CloudKit==6.0.1
pyobjc-framework-Cocoa==6.0.1
pyobjc-framework-Collaboration==6.0.1
pyobjc-framework-ColorSync==6.0.1
pyobjc-framework-Contacts==6.0.1
pyobjc-framework-ContactsUI==6.0.1
pyobjc-framework-CoreAudio==6.0.1
pyobjc-framework-CoreAudioKit==6.0.1
pyobjc-framework-CoreBluetooth==6.0.1
pyobjc-framework-CoreData==6.0.1
pyobjc-framework-CoreHaptics==6.0.1
pyobjc-framework-CoreLocation==6.0.1
pyobjc-framework-CoreMedia==6.0.1
pyobjc-framework-CoreMediaIO==6.0.1
pyobjc-framework-CoreML==6.0.1
pyobjc-framework-CoreMotion==6.0.1
pyobjc-framework-CoreServices==6.0.1
pyobjc-framework-CoreSpotlight==6.0.1
pyobjc-framework-CoreText==6.0.1
pyobjc-framework-CoreWLAN==6.0.1
pyobjc-framework-CryptoTokenKit==6.0.1
pyobjc-framework-DeviceCheck==6.0.1
pyobjc-framework-DictionaryServices==6.0.1
pyobjc-framework-DiscRecording==6.0.1
pyobjc-framework-DiscRecordingUI==6.0.1
pyobjc-framework-DiskArbitration==6.0.1
pyobjc-framework-DVDPlayback==6.0.1
pyobjc-framework-EventKit==6.0.1
pyobjc-framework-ExceptionHandling==6.0.1
pyobjc-framework-ExecutionPolicy==6.0.1
pyobjc-framework-ExternalAccessory==6.0.1
pyobjc-framework-FileProvider==6.0.1
pyobjc-framework-FileProviderUI==6.0.1
pyobjc-framework-FinderSync==6.0.1
pyobjc-framework-FSEvents==6.0.1
pyobjc-framework-GameCenter==6.0.1
pyobjc-framework-GameController==6.0.1
pyobjc-framework-GameKit==6.0.1
pyobjc-framework-GameplayKit==6.0.1
pyobjc-framework-ImageCaptureCore==6.0.1
pyobjc-framework-IMServicePlugIn==6.0.1
pyobjc-framework-InputMethodKit==6.0.1
pyobjc-framework-InstallerPlugins==6.0.1
pyobjc-framework-InstantMessage==6.0.1
pyobjc-framework-Intents==6.0.1
pyobjc-framework-IOSurface==6.0.1
pyobjc-framework-iTunesLibrary==6.0.1
pyobjc-framework-LatentSemanticMapping==6.0.1
pyobjc-framework-LaunchServices==6.0.1
pyobjc-framework-libdispatch==6.0.1
pyobjc-framework-LinkPresentation==6.0.1
pyobjc-framework-LocalAuthentication==6.0.1
pyobjc-framework-MapKit==6.0.1
pyobjc-framework-MediaAccessibility==6.0.1
pyobjc-framework-MediaLibrary==6.0.1
pyobjc-framework-MediaPlayer==6.0.1
pyobjc-framework-MediaToolbox==6.0.1
pyobjc-framework-MetalKit==6.0.1
pyobjc-framework-ModelIO==6.0.1
pyobjc-framework-MultipeerConnectivity==6.0.1
pyobjc-framework-NaturalLanguage==6.0.1
pyobjc-framework-NetFS==6.0.1
pyobjc-framework-Network==6.0.1
pyobjc-framework-NetworkExtension==6.0.1
pyobjc-framework-NotificationCenter==6.0.1
pyobjc-framework-OpenDirectory==6.0.1
pyobjc-framework-OSAKit==6.0.1
pyobjc-framework-OSLog==6.0.1
pyobjc-framework-PencilKit==6.0.1
pyobjc-framework-Photos==6.0.1
pyobjc-framework-PhotosUI==6.0.1
pyobjc-framework-PreferencePanes==6.0.1
pyobjc-framework-PubSub==6.0.1
pyobjc-framework-PushKit==6.0.1
pyobjc-framework-Quartz==6.0.1
pyobjc-framework-QuickLookThumbnailing==6.0.1
pyobjc-framework-SafariServices==6.0.1
pyobjc-framework-SceneKit==6.0.1
pyobjc-framework-ScreenSaver==6.0.1
pyobjc-framework-ScriptingBridge==6.0.1
pyobjc-framework-SearchKit==6.0.1
pyobjc-framework-Security==6.0.1
pyobjc-framework-SecurityFoundation==6.0.1
pyobjc-framework-SecurityInterface==6.0.1
pyobjc-framework-ServiceManagement==6.0.1
pyobjc-framework-Social==6.0.1
pyobjc-framework-SoundAnalysis==6.0.1
pyobjc-framework-Speech==6.0.1
pyobjc-framework-SpriteKit==6.0.1
pyobjc-framework-StoreKit==6.0.1
pyobjc-framework-SyncServices==6.0.1
pyobjc-framework-SystemConfiguration==6.0.1
pyobjc-framework-SystemExtensions==6.0.1
pyobjc-framework-UserNotifications==6.0.1
pyobjc-framework-VideoSubscriberAccount==6.0.1
pyobjc-framework-VideoToolbox==6.0.1
pyobjc-framework-Vision==6.0.1
pyobjc-framework-WebKit==6.0.1
pyod==1.0.2
pyodbc==4.0.27
pyparsing==3.0.9
PyPDF2==1.26.0
pyperclip==1.7.0
pypng==0.0.20
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.25
PySimpleGUI==4.8.0
PySocks==1.7.1
pytest==6.2.5
python-chess==1.999
python-dateutil==2.8.2
python-docx==0.8.10
python-engineio==3.9.0
python-rapidjson==1.5
python-socketio==4.4.0
PyTweening==1.0.3
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywhatkit==5.1
PyYAML==5.4.1
pyzmq==23.2.0
qtconsole==4.7.7
QtPy==1.9.0
query-string==2019.4.13
querystring-parser==1.2.4
questionary==1.10.0
regex==2022.6.2
renko==0.0.15
request==2019.4.13
requests==2.28.0
requests-oauthlib==1.3.0
rich==12.4.4
rlp==2.0.1
rsa==4.6
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.2
selenium==3.141.0
semver==2.13.0
Send2Trash==1.8.0
shap==0.41.0
six==1.16.0
sklearn==0.0
slicer==0.0.7
smart-open==6.0.0
smmap==5.0.0
sniffio==1.2.0
socketIO-client==0.7.2
soupsieve==2.3.2.post1
spacy==2.3.7
SQLAlchemy==1.4.39
sqlparse==0.4.2
srsly==1.0.5
stable-baselines==2.10.2
stable-baselines3==1.3.0
starlette==0.19.1
statsmodels==0.13.2
stockstats==0.3.2
stocktrends==0.1.5
streamlit==1.10.0
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tenacity==8.0.1
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.4.1
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.15.0
testpath==0.4.4
textblob==0.17.1
tf-slim==1.1.0
tflearn==0.5.0
thinc==7.4.5
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.1
toolz==0.11.1
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
twilio==6.33.0
typed-ast==1.4.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
umap-learn==0.5.3
urllib3==1.26.9
utils==1.0.1
uvicorn==0.18.1
validators==0.20.0
varint==1.0.2
virtualenv==20.10.0
visions==0.7.4
wasabi==0.9.1
watchdog==2.1.9
wcwidth==0.2.5
web3==5.23.1
webdriver-manager==3.4.2
webencodings==0.5.1
websocket-client==1.3.3
websockets==9.1
Werkzeug==2.1.2
widgetsnbextension==3.5.1
wikipedia==1.4.0
win-unicode-console==0.5
wordcloud==1.8.1
wrapt==1.11.2
xgboost==1.6.1
xlrd==1.2.0
XlsxWriter==1.2.8
yarl==1.7.2
yellowbrick==1.3.post1
yfinance==0.1.67
zipp==3.8.0
